In [1]:
city1 = "Faisalabad"
city2 = "Islamabad"
city3 = "Karachi"
city4 = "Lahore"
city5 = "Quetta"

In [2]:
Result1 = "93.4"
Result2 = "95"
Result3 = "98.7"
Result4 = "87.4"
Result5 = "83.2"

In [3]:
Score1 = "45"
Score2 = "70"
Score3 = "54"
Score4 = "90"
Score5 = "42"

In [4]:
cities=["Faisalabad","Islamabad","Karachi","Lahore","Quetta"]
cities

['Faisalabad', 'Islamabad', 'Karachi', 'Lahore', 'Quetta']

In [5]:
type(city1)

str

In [6]:
type(cities)

list

In [7]:
Results=["93.4","95","98.7","87.4","83.2"]
Results

['93.4', '95', '98.7', '87.4', '83.2']

In [8]:
type(Result1)

str

In [9]:
type(Results)

list

In [10]:
Scores=["45","70","54","90","42"]
Scores

['45', '70', '54', '90', '42']

In [11]:
type(Score1)

str

In [12]:
type(Scores)

list

In [13]:
msg=cities[0]+" city " + Results[0]+" Result " + Scores[0]+ " Score "
print(msg)

Faisalabad city 93.4 Result 45 Score

In [14]:
msg=cities[1]+" city " + Results[1]+" Result " + Scores[1]+ " Score "
print(msg)

Islamabad city 95 Result 70 Score

In [15]:
msg=cities[2]+" city " + Results[2]+" Result " + Scores[2]+ " Score "
print(msg)

Karachi city 98.7 Result 54 Score

In [16]:
msg=cities[3]+" city " + Results[3]+" Result " + Scores[3]+ " Score "
print(msg)

Lahore city 87.4 Result 90 Score

In [17]:
msg=cities[4]+" city " + Results[4]+" Result " + Scores[4]+ " Score "
print(msg)

Quetta city 83.2 Result 42 Score