# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [2]:
null_vector = np.zeros(10)
null_vector

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [3]:
arr = np.arange(10,49)
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48])

4. Find the shape of previous array in question 3

In [4]:
arr.shape

(39,)

5. Print the type of the previous array in question 3

In [5]:
type(arr)

numpy.ndarray

6. Print the numpy version and the configuration

In [6]:
print(np.__version__)
# np.__config__.show()
np.show_config()

1.16.5
mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Abdul Rehman/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/Abdul Rehman/Anaconda3\\Library\\include']
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Abdul Rehman/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/Abdul Rehman/Anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Abdul Rehman/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/Abdul Rehman/Anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Abdul Rehman/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/Abdul Rehman/Anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/Abdul Rehman/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/Abdul Rehman/Anaconda3\\Library\\include']

7. Print the dimension of the array in question 3

In [7]:
arr2 = np.array([1,2,3,4,5,6,7,8])
arr2
arr2.ndim

1

##### 8. Create a boolean array with all the True values

In [8]:
ar = np.ones(10, dtype = bool)
print(ar)

[ True  True  True  True  True  True  True  True  True  True]

9. Create a two dimensional array

In [9]:
arr2.reshape(2,4)

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

10. Create a three dimensional array

In [10]:
arr2.reshape(2,2,2)

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [11]:
arr2= arr2[::-1]
arr2

array([8, 7, 6, 5, 4, 3, 2, 1])

12. Create a null vector of size 10 but the fifth value which is 1

In [12]:
null_vect = np.zeros(10)
null_vect[5]= 1
null_vect

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix

In [13]:
identity = np.identity(3)
print(identity)
identity2= np.eye(3)
identity2

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [14]:
arr3 = np.array([1, 2, 3, 4, 5])
print(arr3)
print(arr3.dtype)
arr3 = np.asfarray(arr3)
print(arr3)
arr3.dtype

[1 2 3 4 5]
int32
[1. 2. 3. 4. 5.]

dtype('float64')

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [15]:
arr4 = np.array([[1., 2., 3.],[4., 5., 6.]])  
arr5 = np.array([[0., 4., 1.],[7., 2., 12.]])
multiply = arr4*arr5
multiply

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [16]:
arr6 = np.array([[1., 2., 3.],[4., 5., 6.]]) 
arr7 = np.array([[0., 4., 1.],[7., 2., 12.]])
maxi = np.maximum(arr6,arr7)
maxi

array([[ 1.,  4.,  3.],
       [ 7.,  5., 12.]])

17. Extract all odd numbers from arr with values(0-9)

In [17]:
arr8 = np.arange(0,10)
print(arr8)
print(arr8[1::2])

odd=  [i for i in arr8 if i%2 == 1]
odd

[0 1 2 3 4 5 6 7 8 9]
[1 3 5 7 9]

[1, 3, 5, 7, 9]

18. Replace all odd numbers to -1 from previous array

In [18]:
arr8[1::2] = -1
arr8

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [19]:
arra = np.arange(10)
print(arra)
arra[5:-1:] = 12
arra

[0 1 2 3 4 5 6 7 8 9]

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [20]:
arra2 = np.ones(16)
x = arra2.reshape(4,4)
x[1:-1,1:-1] = 0
x

array([[1., 1., 1., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 1., 1., 1.]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [21]:
arr2d = np.array([[1, 2, 3],[4, 5, 6],[7, 8, 9]])
arr2d[1][1] = 12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [22]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print(arr3d)
arr3d[0] = 64
arr3d

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

array([[[64, 64, 64],
        [64, 64, 64]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [23]:
arr_2d = np.arange(0,9)
print(arr_2d.reshape(3,3))
arr_2d[1]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

1

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [24]:
arr_2d[3]

3

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [25]:
arr_2d = np.arange(0,9)
print(arr_2d.reshape(3,3))

[[0 1 2]
 [3 4 5]
 [6 7 8]]

26. Create a 10x10 array with random values and find the minimum and maximum values

In [26]:
arr_random = np.random.randint(100, size=(10,10))
print(arr_random)

[[99 61 67 20 96 57 81 52  2 46]
 [97  7 85 41 52 80 56 22 57 86]
 [86 87 86 71 62 28 42 46 37 60]
 [72 32 48 37 46  8 76 22 33 17]
 [84  2 59 49 56 35 37 76 90 97]
 [10 58 87 91 54 62 22 19 69 15]
 [45 49 81 71 90 93 26 78  4 41]
 [76 50 69 20  0  8 42 79 26 94]
 [63 85  6 70 11  5  9  9 83 40]
 [78 81 56 80 14 22 25 77 54  9]]

In [27]:
np.min(arr_random)
np.max(arr_random)

99

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [28]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
# set(a) & set(b)
z = np.intersect1d(a,b)
z

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [29]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
# set(a)&set(b)
# print(np.intersect1d(a,b))
z = np.intersect1d(a,b)
for i in z:
    x = np.where(a == 4)
    y = np.where(a == 2)
print(y,x)

(array([1, 3], dtype=int64),) (array([5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [30]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
data[names != 'Will']

array([[-0.89126775,  0.2409504 , -0.69707377,  0.51202518],
       [ 0.00896362,  0.01647677,  0.097028  ,  0.34821887],
       [ 1.37125636,  0.76675925,  0.81062431,  0.36630198],
       [ 1.09965102,  1.59914221, -1.01225833, -0.43148694],
       [ 0.08031825, -0.24014362,  0.36109811,  1.63241495]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [31]:
print(data[names != 'Will'])
data[names != 'Joe']

[[-0.89126775  0.2409504  -0.69707377  0.51202518]
 [ 0.00896362  0.01647677  0.097028    0.34821887]
 [ 1.37125636  0.76675925  0.81062431  0.36630198]
 [ 1.09965102  1.59914221 -1.01225833 -0.43148694]
 [ 0.08031825 -0.24014362  0.36109811  1.63241495]]

array([[-0.89126775,  0.2409504 , -0.69707377,  0.51202518],
       [-0.76782933, -0.92269941, -0.4965684 , -0.38633089],
       [ 1.37125636,  0.76675925,  0.81062431,  0.36630198],
       [ 1.2202102 ,  0.17036112, -0.26194403,  3.51772966]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [32]:
data = np.random.randn(1, 15).reshape(5,3)
data

array([[ 0.86687202, -1.69118199,  1.38006187],
       [ 0.80797471,  0.12262181,  0.29894216],
       [ 1.95553428,  0.27229826,  0.13192184],
       [ 1.18058897,  0.62843297, -1.32205098],
       [ 1.82646198,  1.53211056, -0.19847657]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [33]:
data = np.random.randn(1, 16).reshape(2,2,4)
data

array([[[ 0.73691484, -0.93712461,  0.49057337, -0.6987815 ],
        [-1.6084713 ,  1.15051238, -1.12137374, -0.23894812]],

       [[ 0.3917356 , -0.13087486, -1.56272596,  0.06336394],
        [ 1.01667023,  1.0128693 ,  0.76817327,  0.81311307]]])

33. Swap axes of the array you created in Question 32

In [34]:
data = data.T
data

array([[[ 0.73691484,  0.3917356 ],
        [-1.6084713 ,  1.01667023]],

       [[-0.93712461, -0.13087486],
        [ 1.15051238,  1.0128693 ]],

       [[ 0.49057337, -1.56272596],
        [-1.12137374,  0.76817327]],

       [[-0.6987815 ,  0.06336394],
        [-0.23894812,  0.81311307]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [35]:
R = np.arange(10)
R = np.sqrt(R)
np.where(R<0.5, 0, R)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [36]:
A = np.random.randint(12)
R = np.random.randint(12)
np.maximum(A,R)

0

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [37]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
name = []
print(names)
print(name)
# names = set(names)
# names.remove('Will')
# names

['Bob' 'Joe' 'Will' 'Bob' 'Will' 'Joe' 'Joe']
[]

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [38]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
print(a,b)
print(set(a) or set(b))

print(set(a) & set(b))
arr = np.concatenate((a, b))
arr = set(arr)
arr.remove(5)
arr

[1 2 3 4 5] [5 6 7 8 9]
{1, 2, 3, 4, 5}
{5}

{1, 2, 3, 4, 6, 7, 8, 9}

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [39]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
sampleArray

array([[34, 43, 73],
       [82, 22, 12],
       [53, 94, 66]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [40]:
x = np. array([[1., 2., 3.], [4., 5., 6.]])
y = np. array([[6., 23.], [-1, 7],[8, 9]])
x.dot(y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [41]:
matrix = np.random.randn(20)

In [42]:
matrix

array([-0.55578807, -0.98126725,  0.61501586, -0.90211273, -1.44639886,
        2.43785024, -0.12414066,  1.55776679,  0.72580165,  0.16873575,
        0.14426498, -0.24831079, -0.45455127, -0.4744173 , -0.33971419,
        1.36788986,  1.25705739,  1.46604592,  1.47575741,  1.28472208])

In [43]:
matrix.cumsum()

array([-0.55578807, -1.53705531, -0.92203946, -1.82415218, -3.27055104,
       -0.8327008 , -0.95684146,  0.60092533,  1.32672697,  1.49546272,
        1.6397277 ,  1.39141691,  0.93686564,  0.46244834,  0.12273415,
        1.49062401,  2.7476814 ,  4.21372732,  5.68948473,  6.97420681])